# Identity verification

## Why do I need to verify my identity to create an account?

As we are creating a real bank account on your behalf with our banking partner, Griffin bank, we are required to ensure bank-grade security as part of the application process. This involves verifying your identity and information that you provide to us as part of the user onboarding process.

Please see [here](../getting-started/sign-up-and-eligibility.md) for eligibility when creating your Stoa Account.

## Veriff

Veriff is an identity and document verification provider, who we use through Griffin Bank, to verify your identity when creating your application for a Stoa Account.

## Why am I being asked for a Proof of Address?

If you fall into a manual review process after submitting your identity verification, we may reach out to you via email to request additional information, such as a Proof of Address.

### Accepted Documents for Proof of Address

We accept the following documents for proof of address (POA):

* **UK Driving License**‍—‌only when not used as proof of income. Must be in date and must include the front and back of the licence
* **Bank or Building Society Statement**‍—‌must be dated in the last 3 months and clearly show the name and address
* **Utility Bill**—‌must be dated in the last 3 months and clearly show the name and address
* **Benefits or DWP Pension confirmation**‍—‌must be dated in the last 12 months and clearly show the name and address
* **Council Tax Bill**‍—‌must be dated for the current tax year and clearly show the name and address
* **HMRC Letter**‍—‌must be dated in the last 3 months and clearly show the name and address
* **Tenancy Agreement**‍—‌must clearly show the name and address of the applicant
* **Council Rent Card**—must clearly show the name and address of the applicant
* **Firearms or Shotgun Licence**‍—‌must be valid and clearly show the name and address of the applicant
* **Bankruptcy Order**‍—‌must clearly show the name and address of the applicant
* **Mortgage Statement**‍—‌must be dated in the last 12 months and clearly show the name and address
* **Inland Revenue Notice of Tax**‍—‌must be dated for the current tax year and clearly show the name and address
* **Solicitor Letter**‍—‌must be dated in the last 3 months and clearly show the name and address of the applicant. Must be on headed paper and provide contact name and details for the solicitor that produced the letter
